<form
[formGroup]="studentForm"
(ngSubmit)="OnSubmit()"
>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
      <input 
      [class.is-invalid]="emailIsInvalid()"
      [class.is-valid]="emailIsValid()"
      type="text" 
      class="form-control" 
      id="exampleInputEmail1" 
      aria-describedby="emailHelp"
      formControlName="email"
      >
      <div id="emailHelp" class="form-text">El email es requerido</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input 
      [class.is-invalid]="passwordIsInvalid()"
      [class.is-valid]="passwordIsValid()"
      type="password" 
      class="form-control" 
      id="exampleInputPassword1"
      formControlName = "password"
      >

      <small *ngIf="passwordIsInvalid() && passwordHasRequiredError()" class="text-danger">
        Este campo es requerido.
      </small>
      <small *ngIf="passwordIsInvalid() && passwordHasmMinLengthError()"  class="text-danger">
        El largo debe ser de almenos 8 caracteres.
      </small>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>